.consent-banner {
  position: fixed;
  bottom: -200px;
  left: 10%;
  right: 10%;
  background-color: var(--side-menu-background);
  opacity: 0.9;
  color: var(--hotel-background);
  padding: 20px;
  text-align: center;
  transition: bottom 0.5s ease-in-out;
  z-index: 1000;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  font-family: var(--polin);
}

.consent-banner.show {
  bottom: 0;
}

.consent-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.consent-actions button {
  width: 50%;
  margin: 10px;
  padding: 10px 0;
  cursor: pointer;
}

.consent-approve {
  background-color: var(--hotel-background);
  color: var(--side-menu-background);
  border: none;
}

.consent-approve:hover {
  opacity: 0.9;
}

.consent-reject {
  background-color: transparent;
  border: 0.1px solid var(--hotel-background);
  color: var(--hotel-background);
}

.consent-reject:hover {
  opacity: 0.9;
}
