/* imageCarousel.css */

.image-embla {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-embla__viewport {
  overflow: hidden;
  width: 100%;
}

.image-embla__container {
  display: flex;
}

.image-embla__slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-embla__slide img {
  width: 100%;
  max-width: 770px;
  height: 100%;
  max-height: 514px;
  object-fit: cover;
  display: block;
}

/* arrows */
.image-embla__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.image-embla__button.prev {
  left: 20px;
}

.image-embla__button.next {
  right: 20px;
}
.image-embla__button--prev.rtl {
  left: auto;
  right: 20px;
}

.image-embla__button--next.rtl {
  left: 20px;
  right: auto;
}

.image-embla-wrapper {
  position: relative;
  width: 100%;
}

.image-embla__pagination {
  margin-top: 10px;
  text-align: center;
  font-weight: 350;
  font-size: 16px;
  letter-spacing: 0.25rem;
}
