.footer-container {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--raleway);
  box-sizing: border-box;
}
.footer-container[dir="rtl"] {
  text-align: right;
}

.logo-with-text-grid {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr;
  padding: 20px 100px;
  margin-top: 95px;
}
@media (max-width: 900px) {
  .logo-with-text-grid {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
  .logo-footer {
    margin-bottom: 100px;
    justify-self: center;
  }
  .footer-container {
    box-shadow: none;
  }
}
.footer-item {
  display: flex;
  gap: 16px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.footer-item span,
.footer-item a {
  font-size: 1rem !important;
  font-family: var(--font) !important;
  line-height: 22px;
  font-weight: 350 !important;
  color: var(--text-color);
}

.footer-item img {
  align-items: center;
  width: 24px;
  height: 24px;
}
.footer-divider {
  height: 1px;
  margin: 10px 0;
  background-color: var(--side-menu-background);
}

.footer-policies,
.footer-policies a {
  display: flex;
  justify-content: start;
  font-size: 1rem !important;
  margin: 20px 0px;
  color: var(--side-menu-background) !important;
  gap: 0.5rem;
  font-weight: 350 !important;
}
.policy-item a:hover {
  color: var(--hover-color) !important;
}

.footer-policies.rtl {
  direction: rtl;
}

.policy-item {
  cursor: pointer;
  transition: color 0.2s ease;
}
.policy-item p {
  line-height: 25px !important;
  padding: 0 0 !important;
}

.policy-divider {
  background-color: var(--side-menu-background);
  min-width: 2px;
  margin: 20px 0px;
  text-align: center !important;
}
.banner-image {
  height: 140px;
  width: 1440px;
  width: 100%;
  background-image: url("../resources/images/brand pattern_banner3.png");
  background-repeat: repeat; /* repeat both directions */
  margin-bottom: 10px;
}
.banner-image img {
}
.credits-grid {
  display: flex;
  justify-content: space-around;
}
.credits-grid span {
  font-size: 0.875rem !important;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .credits-grid span {
    font-size: 0.6rem !important;
  }
  .footer-policies,
  .footer-policies a {
    font-size: 0.6rem !important;
  }
}
