.footer-container {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--raleway);
  box-sizing: border-box;
  box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.1);
}
.footer-container[dir="rtl"] {
  text-align: right;
}

.logo-with-text-grid {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr;
  padding: 20px 100px;
  margin-top: 200px;
}
@media (max-width: 900px) {
  .logo-with-text-grid {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
  .logo-footer {
    margin-bottom: 100px;
  }
  .footer-container {
    box-shadow: none;
  }
}

.footer-item span,
.footer-item a {
  font-size: 1.4rem !important;
  font-family: var(--font) !important;
  line-height: 60px;
  font-weight: 100;
}

.footer-item img {
  width: 30px;
  height: 30px;
}
.footer-divider {
  height: 1px;
  background-color: var(--side-menu-background);
}

.footer-policies,
.footer-policies a {
  display: flex;
  max-width: 600px;
  justify-content: start;
  font-size: 1rem !important;
  margin: 20px 0px;
  justify-content: space-around;
  color: var(--side-menu-background) !important;
}

.footer-policies.rtl {
  direction: rtl;
}

.policy-item {
  cursor: pointer;
  transition: color 0.2s ease;
}

.policy-divider {
  background-color: var(--side-menu-background);
  min-width: 2px;
  margin: 20px 0px;
  text-align: center !important;
}
.banner-image {
  height: 70px;
  width: 1440px;
  width: 100%;
  background-image: url("../resources/images/patternBanner2x.png");
  background-repeat: repeat; /* repeat both directions */
  background-size: 720px 69px;
}
.credits-grid {
  display: flex;
  justify-content: space-around;
}
.credits-grid span {
  font-size: 1rem !important;
}
