.short-about-section {
  text-align: center;
  background-color: var(--primary-color);
  /*background-image: url("../resources/images/cabin.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;  for texture*/

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
  border-radius: 0px;
  width: 90%;
  max-width: 1800px;
  margin: 60px auto;
  transition: transform 0.2s ease-in-out;
  padding: 20px;
}
@media (max-width: 768px) {
  .welcome-section {
    width: 80%;
  }
}
.short-about-section:hover {
  transform: translateY(-5px);
}

.short-about-title {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.short-about-text {
  max-width: 800px;
  margin: 0 auto 15px;
  color: var(--secondary-text-color);
}
.short-about-text.rtl {
  direction: rtl;
}

.short-about-highlight {
  font-size: 1rem;
  font-weight: bold;
  color: var(--highlight-color);

  margin-bottom: 20px;
}
