.hotel-services-container {
  margin: 100px 0px;
}
.hotel-services-grid {
  display: flex;
  align-items: start; /* 👈 instead of center */
  margin: 100px 100px;
  color: var(--text2-color) !important ;
  gap: 130px;
  padding: 44px 0px;
}

.hotel-services-grid.rtl {
  direction: rtl;
  grid-template-columns: 1fr 1fr; /* still two columns */
}
.text-container-services {
  width: 100%;
  max-width: 396px;
}
.sub-header-services {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
  color: var(--text2-color);
  line-height: 25px;
  margin: 0 !important; /* remove default margins */
  letter-spacing: 1px;
}
.sub-text-services-list {
  list-style-type: disc !important;
  margin: 10px 5px !important; /* remove default margins */
}
.sub-text-services-list li::marker {
  font-size: 0.4em;
}
.sub-text-services-list li {
  text-indent: 5px;
  margin: 5px 0px;
}
.qa-container {
  width: 100%;
  max-width: 713px;
}
.qa-container span {
  font-size: 1.5rem;
}
.qa-container p {
  font-size: 1rem;
  color: var(--text2-color) !important;
}
@media (max-width: 768px) {
  .hotel-services-grid {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 30px;
    margin: 100px 40px;
  }
  .qa-container span {
    font-size: 1.125rem !important;
  }
  .qa-container p {
    font-size: 1rem !important;
  }
}
