.rooms-container {
  background-color: var(--other-container-background);
  align-items: start !important;
  border-radius: 0px;
  margin: 60px auto;
  transition: transform 0.2s ease-in-out;
  padding: 30px 90px;
}
.text-container {
  align-items: start !important;
}
.rooms-container.rtl {
  direction: rtl !important;
}
@media (max-width: 768px) {
  .welcome-section {
    width: 80%;
  }
}

.sub-header-rooms {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  color: var(--text2-color) !important;
  margin-bottom: 0.5rem;
}

.rooms-text {
  font-size: 2rem !important;
  font-weight: normal !important;
  max-width: 1200px;
  align-items: start;
}
.rooms-text.rtl {
  direction: rtl;
}

.rooms-side-note {
  font-size: 1.2rem !important;
  font-weight: 200 !important;
  color: var(--text2-color) !important;
  margin-bottom: 0.5rem;
  max-width: 660px;
}

.rooms-highlight {
  font-size: 1.2rem !important;
  font-weight: 600;
  color: var(--highlight-color);

  margin-bottom: 20px;
}
.side-note-row {
  display: grid;
  grid-template-columns: 1fr auto; /* text takes remaining space, arrow auto */
  align-items: center;
  width: 100%;
  gap: 16px; /* optional spacing between text and arrow */
}

/* arrow defaults to pointing left */
.arrow-swipper-icon {
  width: 60px;
  height: auto;
  transition: transform 0.3s ease;
  justify-self: end; /* push arrow to the far edge */
}

/* flip horizontally in LTR */
.rooms-container:not(.rtl) .arrow-icon {
  transform: scaleX(-1);
}
