.hotel-services-container {
  margin-top: 100px;
}
.hotel-services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* text left, image right */
  align-items: start; /* 👈 instead of center */
  margin: 0px 160px;
  color: var(--text2-color) !important ;
  gap: 2rem;
  padding: 100px 0px;
}
@media (max-width: 1000px) {
  .hotel-services-grid {
    grid-template-columns: 1fr !important;
    margin: 0px 40px;
  }
  .qa-container span {
    font-size: 1.125rem !important;
  }
  .qa-container p {
    font-size: 1rem !important;
  }
}

.hotel-services-grid.rtl {
  direction: rtl;
  grid-template-columns: 1fr 1fr; /* still two columns */
}
.sub-header-services {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
  color: var(--text2-color);
  line-height: 25px;
  margin: 0 !important; /* remove default margins */
}
.sub-text-services-list {
  list-style-type: disc !important;
  margin: 10px 5px !important; /* remove default margins */
}
.sub-text-services-list li::marker {
  font-size: 0.4em;
}
.sub-text-services-list li {
  text-indent: 5px;
  margin: 5px 0px;
}
.qa-container span {
  font-size: 1.5rem;
}
.qa-container p {
  font-size: 1rem;
  color: var(--text2-color) !important;
}
