.rooms-section {
  text-align: center;
  background-color: var(--primary-color);

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
  border-radius: 0px;
  width: 90%;
  max-width: 1800px;
  margin: 60px auto;
  transition: transform 0.2s ease-in-out;
  padding: 20px;
}
@media (max-width: 768px) {
  .welcome-section {
    width: 80%;
  }
}
.rooms-section:hover {
  transform: translateY(-5px);
}

.rooms-title {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.rooms-text {
  max-width: 800px;
  margin: 0 auto 15px;
  color: var(--secondary-text-color);
}
.rooms-text.rtl {
  direction: rtl;
}
.rooms-link-text {
  color: var(--text-color);
}

.rooms-highlight {
  font-size: 1rem;
  font-weight: bold;
  color: var(--highlight-color);

  margin-bottom: 20px;
}
