.rooms-wrapper {
  max-width: 1440px;
}
.rooms-container {
  align-items: start !important;
  border-radius: 0px;
  margin: 60px 100px;
  transition: transform 0.2s ease-in-out;
}
.rooms {
  width: 100%;
}
.header-container {
  align-items: start !important;
}
.header-include-container {
  align-items: start !important;
}
.rooms-container.rtl {
  direction: rtl !important;
}

.sub-header-rooms {
  font-size: 0.75rem !important;
  font-weight: 600 !important;
  color: var(--text2-color) !important;
  margin-bottom: 0.5rem;
  padding-top: 62px !important;
  letter-spacing: 1px;
}

.rooms-text {
  font-size: 1.5rem;
  font-weight: 350 !important;
  max-width: 820px;
  align-items: start;
  color: var(--text2-color);
  line-height: 34px;
}
.rooms-text.rtl {
  direction: rtl;
}

.rooms-side-note {
  font-size: 1rem;
  font-weight: 350 !important;
  color: var(--text2-color) !important;
  margin-bottom: 0.5rem;
  max-width: 550px;
  line-height: 24px;
}
.carousel-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden; /* guarantees no overflow from swiper */
  box-sizing: border-box;
  justify-content: start;
  padding-left: 100px;
}
.carousel-container.rtl {
  padding-left: 0px;
  padding-right: 100px;
}
.rooms-highlight {
  font-size: 1rem !important;
  font-weight: 600;
  color: var(--highlight-color);

  margin-bottom: 20px;
}

/* arrow defaults to pointing left */
.arrow-wrapper.rtl {
  display: flex;
  justify-content: end;
  padding: 0px 90px;
  transform: rotate(0deg);
}
.arrow-wrapper {
  display: flex;
  justify-content: start;
  padding: 0px 90px;
  transform: rotate(-180deg);
}
.arrow-swipper-icon {
  display: flex;
  width: 60px;
  height: auto;
  transition: transform 0.3s ease;
  justify-self: end; /* push arrow to the far edge */
}

/* flip horizontally in LTR */
.rooms-container:not(.rtl) .arrow-icon {
  transform: scaleX(-1);
}
.icons-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1500px; /* limits total width */
  margin: 0 auto; /* centers the grid */
  padding: 2rem;
  row-gap: 2rem; /* vertical spacing */
}
.icons-grid.rtl {
  direction: rtl;
}

.icon-with-subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 115px; /* fixed width for consistent spacing */
  text-align: center;
}

.icon-with-subtext img {
  width: 60px;
  height: 60px;
}

.icon-side-note {
  font-weight: 350 !important;
  color: var(--text2-color) !important;
  margin-top: 1rem;
  max-width: 118px;
  direction: rtl; /* Hebrew alignment */
  font-size: 0.875rem;
}
.rooms-text-include {
  font-weight: 350;
}

@media (max-width: 768px) {
  .rooms-container {
    margin: 0px 0px;
    margin-top: 87px;
    transition: transform 0.2s ease-in-out;
  }
  .header-container {
    align-items: start !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0px 22px;
  }
  .rooms-text {
    font-size: 1.125rem !important;
  }
  .rooms-text.rtl {
    font-size: 1.125rem !important;
  }
  .rooms-side-note {
    font-size: 0.875rem !important;
  }
  .arrow-wrapper {
    display: none !important;
    visibility: hidden;
  }
  .carousel-container {
    padding-left: 17px;
  }
  .carousel-container.rtl {
    padding-left: 0px;
    padding-right: 17px;
  }

  .icons-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px; /* limits total width */
    margin: 0px 20px;
    margin-top: 58px;
    padding: 0px;
    row-gap: 2rem; /* vertical spacing */
  }
  .rooms-text-include {
    text-align: center;
  }
}
