.carousel-container {
  width: 90%;
  max-width: 1800px;
  margin: 60px auto;
  padding: 30px;
  background-color: var(--primary-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
}

.carousel-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 30%;
  height: 100%;
  max-height: 760px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.carousel-image:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .carousel-row {
    flex-direction: column;
  }

  .carousel-image {
    width: 100%;
  }
}
