.container {
  text-align: center;
  background-color: var(--primary-color);
  /*background-image: url("../resources/images/cabin.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;  for texture*/

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
  border-radius: 0px;
  width: 80%;
  max-width: 1200px;
  margin: 200px auto;
  transition: transform 0.2s ease-in-out;
  padding: 30px;
}
.container:hover {
  transform: translateY(-5px);
}
.link-text {
  font-size: 24px;
  position: relative;
  text-decoration: none;
  color: var(--accent-color);
  transition: transform 0.3s ease, color 0.3s ease;
}
.link-text::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease, left 0.3s ease;
}
.link-text:hover {
  color: var(--button-hover-color);
}
.link-text:hover::after {
  width: 100%;
  left: 0;
}
