.navbar-wrapper {
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensure it's above other elements */
  width: 100%;
}

.navbar-container {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

/* Navbar when Scrolled */
.navbar-container.scrolled {
  background-color: var(--primary-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.nav-logo-container {
  background-color: var(--primary-color);
  display: block;
  align-items: center;
  padding: 10px 20px;
}
.navbar-logo {
  display: flex;
  justify-content: center; /* Center the logo */
  height: auto;
}

.navbar-logo img {
  max-width: 300px; /* Adjust the size of the logo */
  cursor: pointer;
}

.navbar-buttons {
  display: flex; /* Ensure the buttons are in a row */
  justify-content: center;
}

.navbar-btn {
  background-color: transparent; /* Remove default background */
  color: var(--text-color);
  border: 2px solid transparent; /* No border until hover */
  padding: 10px 20px;
  cursor: pointer;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
  border-radius: 0px; /* Sharp edges */
  transition: background-color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease;
  font-weight: 300;
  font-size: x-large;
}

.navbar-btn:hover {
  background-color: var(--accent-color); /* Hover effect */
  border-color: var(--accent-color); /* Add border on hover */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

/* Special Styling for the 'Book Now' Button */
.navbar-btn.book-now {
  background-color: var(--accent-color);
  border-color: var(--accent-color); /* Keep border color consistent */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.navbar-btn.book-now:hover {
  background-color: rgb(230, 191, 139);
  border-color: rgb(230, 191, 139); /* Border matches the hover color */
}

.mobile-navbar {
  display: none;
}

@media (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    align-items: center;
    height: 15vh;
  }
  .hamburger-menu {
    cursor: pointer;
    margin-left: 2%;
    margin-top: 2%;
  }
  .close-menu {
    cursor: pointer;
    margin-left: 2%;
    margin-top: 2%;
  }
  .navbar-container {
    position: fixed; /* Fixed to viewport */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
  }
  .navbar-buttons {
    flex-direction: column;
    position: fixed;
    width: 200px; /* Full height */
    background-color: var(--primary-color);
    opacity: 0.8;
    transform: translateX(-100%); /* Start off-screen */
    transition: transform 0.3s ease-in-out;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    display: flex; /* Ensure it's always visible for animation */

    z-index: 1000;
  }
  .navbar-buttons.open {
    transform: translateX(0);
  }
  .nav-logo-container {
    size: auto;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.85;
    margin-top: 20px;
    position: static;
  }
  .navbar-logo img {
    max-width: 220px; /* Limit width */
    max-height: 80px; /* Limit height */
    width: auto;
    height: auto;
    cursor: pointer;
  }
}
