body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar-container {
  position: sticky;
  top: 0;
  color: var(--text-color);
  display: block;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.nav-logo-container {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.navbar-logo {
  display: flex;
  justify-content: center; /* Center the logo */
  flex-grow: 1; /* Take up available space */
}

.navbar-logo img {
  max-width: 500px; /* Adjust the size of the logo */
}

.navbar-buttons {
  display: flex; /* Ensure the buttons are in a row */
  justify-content: center; /* Align buttons to the right */
  gap: 1px; /* Space between buttons */
}

.navbar-btn {
  background-color: transparent; /* Remove default background */
  font-family: var(--faculty-glyphic), sans-serif;
  color: var(--text-color);
  border: 2px solid transparent; /* No border until hover */
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0px; /* Sharp edges */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.navbar-btn:hover {
  background-color: var(--accent-color); /* Hover effect */
  border-color: var(--accent-color); /* Add border on hover */
}

/* Special Styling for the 'Book Now' Button */
.navbar-btn.book-now {
  background-color: var(--accent-color);
  border-color: var(--accent-color); /* Keep border color consistent */
}

.navbar-btn.book-now:hover {
  background-color: rgb(230, 191, 139);
  border-color: rgb(230, 191, 139); /* Border matches the hover color */
}
