.text-container-roomspage {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--secondary-text-color);
  margin-left: 5%;
  margin-right: 5%;

  background-color: var(--primary-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
  border-radius: 0px;
  transition: transform 0.2s ease-in-out;
  padding: 30px;
}
.text-container-roomspage:hover {
  transform: translateY(-5px);
}
.text-container-roomspage h1 {
  font-size: 80px;
}
.text-container-roomspage p {
  font-size: 30px;
  text-align: left;
  padding: 20px;
}
