/* Styling for the card container */
.card-container {
  background-color: var(--primary-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  border-radius: 0px;
  overflow: hidden;
  max-width: 400px;
  margin: 50px auto;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}
@media (max-width: 768px) {
  .card-container {
    width: 80%;
  }
}

.card-container:hover {
  transform: translateY(-5px);
}

/* Styling for the image inside the card */
.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* Styling for the text section of the card */
.card-text {
  padding: 25px;
  color: var(--text-color);
  font-family: --;
}

.title {
  margin-bottom: 10px;
}

.title-spacer {
  padding-bottom: 20px;
}

.description {
  color: var(--secondary-text-color);
  margin-bottom: 15px;
}

/* Styling for the price tag */
.price-container {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text-color);
}

.price-label {
  margin-right: 5px;
  color: var(--text-color);
  font-family: var(--raleway);
  font-weight: normal;
}

.currency {
  margin-right: 2px;
  font-weight: normal;
  color: var(--secondary-text-color);
  font-family: var(--raleway);
}

.price-value {
  font-weight: 100;
  font-family: var(--raleway);
  margin-left: 5px;
}

/* Styling for the currency selector */
.currency-selector {
  font-family: var(--raleway);
  background-color: var(--primary-color);
  color: var(--button-color);
  font-weight: 400;
  border: none;
}
.currency-selector-container {
  font-family: var(--raleway);
  background-color: var(--primary-color);
  color: var(--button-color);
  font-weight: 100;
  border: none;
  padding: 3px;
  border-bottom: 1px solid var(--secondary-text-color);
  cursor: pointer;
}

.currency-selector label {
  margin-right: 10px;
  color: var(--secondary-text-color);
  font-family: var(--raleway);
}

.currency-selector select {
  padding: 5px;
  font-family: var(--raleway);
  color: var(--text-color);
  outline: none; /* Remove focus outline */
  appearance: none; /* Hide default dropdown arrow */
  text-align: center; /* Center text */
  cursor: pointer;
}

/* Styling for the buttons */
.book-now-button,
.see-more-button {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-now-button {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
}

.book-now-button:hover {
  background-color: var(--button-hover-color);
}

.see-more-button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: var(--text-color);
}

.see-more-button:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buttons-container button {
  width: 50%;
}
