@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew&display=swap");
:root {
  /* Font */
  --font: "Noto Sans Hebrew", "Noto Sans", sans-serif;

  /* Tailor Hotel Color Palette */
  --hotel-background: #ffffff;
  --side-menu-background: #000000;
  --other-container-background: #d1e7fe33;
  --border-color: #00000000;
  --text-color: #000000;
  --text2-color: #000000;
}

body {
  font-family: var(--font) !important;
  margin: none;
  background-color: var(--hotel-background) !important;

  color: var(--text-color);
}
h1 {
  font-family: var(--font), serif;
  font-weight: 200 !important;
  color: var(--text-color);
}
h2 {
  font-family: var(--font), serif;
  font-weight: 100 !important;
}
p,
button,
a {
  font-family: var(--font), serif;
  font-weight: 200 !important;
}
select {
  all: unset;
}
/*adjustable font*/
html {
  font-size: var(--base-font-size, 18px);
  font-weight: 300;
}
h1 {
  font-size: 2.73rem; /* 60px */
}
h2 {
  font-size: 1.56rem !important; /* 30px */
}
h3 {
  font-size: 1.18rem; /* ~26px */
}

button,
a {
  font-size: 0.82rem !important; /* 22px */
}
small {
  font-size: 0.82rem; /* ~18px */
}
a:hover,
a:focus {
  color: var(--accent-color) !important;
}
a {
  text-decoration: none !important;
}

ul,
li {
  font-size: 20px; /* ~18px */
}
select {
  appearance: none; /* removes default arrow in most browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
}
span {
  font-size: 0.82rem;
}
