@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew&display=swap");
/* POLIN FULL FAMILY */
@font-face {
  font-family: "Polin";
  src: url("../assets/fonts/polin/Polin-Hairline.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Polin";
  src: url("../assets/fonts/polin/Polin-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Polin";
  src: url("../assets/fonts/polin/Polin-Extralight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Polin";
  src: url("../assets/fonts/polin/Polin-Light.otf") format("opentype");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "Polin";
  src: url("../assets/fonts/polin/Polin-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Polin";
  src: url("../assets/fonts/polin/Polin-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Polin";
  src: url("../assets/fonts/polin/Polin-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Polin";
  src: url("../assets/fonts/polin/Polin-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Polin";
  src: url("../assets/fonts/polin/Polin-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Polin";
  src: url("../assets/fonts/polin/Polin-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

:root {
  /* Font */
  --font: "Polin", sans-serif;

  /* Tailor Hotel Color Palette */
  --hotel-background: #ffffff;
  --side-menu-background: #000000;
  --other-container-background: #d1e7fe33;
  --border-color: #00000000;
  --text-color: #000000;
  --text2-color: #000000;
  --hover-color: #d1e7fe;
}
html {
  font-size: 16px !important;
}

body {
  font-family: var(--font) !important;
  margin: none;
  background-color: var(--hotel-background) !important;

  color: var(--text-color);
}
h1 {
  font-family: var(--font), serif;
  font-weight: 200 !important;
  color: var(--text-color);
}
h2 {
  font-family: var(--font), serif;
  font-weight: 100 !important;
}
p,
button,
a {
  font-family: var(--font), serif;
}
select {
  all: unset;
}
/*adjustable font*/
html {
  font-size: var(--base-font-size, 18px);
  font-weight: 300;
}
h1 {
  font-size: 2.73rem; /* 60px */
}
h3 {
  font-size: 1.18rem; /* ~26px */
}

button,
a {
  font-size: 0.82rem; /* 22px */
}
small {
  font-size: 0.82rem; /* ~18px */
}
a:hover,
a:focus {
  color: var(--hover-color) !important;
}
a {
  text-decoration: none !important;
}

ul {
  font-size: 1rem; /* ~18px */
  padding: 0 px; /* To remove default bottom margin */
}
select {
  appearance: none; /* removes default arrow in most browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
}
span {
  font-size: 0.82rem;
}

/*the momment i broke shit*/
.component-wrapper {
  max-width: 1440px; /* content stays exactly the same even on bigger screens */
  margin: 0 auto; /* center it horizontally */
  padding: 0; /* keep fixed spacing */
}
.blue-wrapper {
  background-color: var(--other-container-background) !important;
}

/* Lock your main sections */
.section {
  padding: 80px 100px; /* fixed padding */
  margin: 0 auto; /* fixed margin */
}

/* For flex containers */
.flex-container {
  display: flex;
  flex-wrap: nowrap; /* prevent wrapping */
}

.flex-container > * {
  flex-shrink: 0; /* prevent shrinking */
}
