:root {
  /* Font */
  --polin: "Polin Sans", serif;

  /* Tailor Hotel Color Palette */
  --primary-color: #245445; /* Deep Green (PANTONE 567 C) */
  --accent-color: #f58266; /* Warm Accent (PANTONE 486 C) */
  --hotel-background: #f5d6ab; /* Soft Tan (PANTONE 7507 C) */
  --dark-background: #000000; /* Black (PANTONE Black C) */
  --text-color: #ffffff; /* White (PANTONE White) */
  --secondary-text-color: #e3b09e; /* Soft Coral (PANTONE 693 C) */
  --highlight-color: #d1e7fe; /* Light Blue Accent (PANTONE 2717 C) */
  --primary-background-image: url("../resources/images/brandpatternp3.png");

  /* Buttons & UI */
  --button-color: #e3b09e; /* Accent Orange-Pink */
  --button-hover-color: #f58266; /* Light Coral Hover */
}
.primary-container {
  background-image: var(--primary-background-image);
  background-size: 50%;
  background-position: center;
  background-repeat: repeat;
  padding: 30px;
}
body {
  font-family: var(--polin), serif !important;
  margin: none;
  background-color: var(--hotel-background) !important;

  color: var(--text-color);
}
h1 {
  font-family: var(--polin), serif;
  font-weight: 200 !important;
  color: var(--text-color);
}
h2 {
  font-family: var(--polin), serif;
  font-weight: 100 !important;
}
p,
button,
a {
  font-family: var(--polin), serif;
  font-weight: 200 !important;
}
select {
  all: unset;
}
/*adjustable font*/
html {
  font-size: var(--base-font-size, 22px);
}
h1 {
  font-size: 2.73rem; /* 60px */
}
h2 {
  font-size: 1.36rem; /* 30px */
}
h3 {
  font-size: 1.18rem; /* ~26px */
}
p,
button,
a {
  font-size: 1rem; /* 22px */
}
small {
  font-size: 0.82rem; /* ~18px */
}
