:root {
  /* Font */
  --polin: "Polin Sans", serif;

  /* Tailor Hotel Color Palette */
  --primary-color: #245445; /* Deep Green (PANTONE 567 C) */
  --accent-color: #f58266; /* Warm Accent (PANTONE 486 C) */
  --hotel-background: #f5d6ab; /* Soft Tan (PANTONE 7507 C) */
  --dark-background: #000000; /* Black (PANTONE Black C) */
  --text-color: #ffffff; /* White (PANTONE White) */
  --secondary-text-color: #e3b09e; /* Soft Coral (PANTONE 693 C) */
  --highlight-color: #d1e7fe; /* Light Blue Accent (PANTONE 2717 C) */

  /* Buttons & UI */
  --button-color: #e3b09e; /* Accent Orange-Pink */
  --button-hover-color: #f58266; /* Light Coral Hover */
}

/* Apply the font to the entire website */
body {
  font-family: var(--polin), serif;
  margin: 0;
  background-color: var(--highlight-color);
  color: var(--text-color);
}
h1 {
  font-family: var(--polin), serif;
  font-weight: 200;
  font-size: 60px;
  color: var(--text-color);
}
h2 {
  font-family: var(--polin), serif;
  font-weight: 100;
  font-size: 30px;
}
p,
button,
a {
  font-family: var(--polin), serif;
  font-weight: 200;
  font-size: 22px;
}
select {
  all: unset;
}
